.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.footer-login {
    height: 15rem;
    width: 100vw;
    margin-bottom: 0;
    background: linear-gradient(to right, #100d10, #b60606);
}

.main-login {
    height: 100vh;
    overflow-y: hidden;
    top: 0;
}

.login-back {
    margin-top: 0px;
    margin-left: -12px;
    width: 100vw;
    background-size: cover;
    height: 100vh;
    background: linear-gradient(to right, #350a0e, #e62e21);
}

.main-page {
    top: 0;
    height: 100vh;
    overflow-y: hidden;
}

.lead,
.form-label,
.form-check-label,
.text-body,
.forget-word,
.small,
.or {
    color: white;
}

.btn1 {
    background: linear-gradient(to right, #11998e, #38ef7d);
}

.btn2 {
    background: linear-gradient(to right, #2193b0, #6dd5ed);
}

.btn3 {
    background: linear-gradient(to right, #8a2387, #e94057, #f27121)
}

.header-main {
    color: white;
}

.btn-lg {
    --bs-btn-padding-y: 0.25rem;
}